.iconCard {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.7rem;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .icon {
    flex-shrink: 0;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }
}
