@import 'src/styles/Colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;

  .footerText {
    font-size: 1.1rem;
  }

  .iconBar {
    display: flex;
    padding: 36px 0;

    a {
      color: inherit;
      text-decoration: none;
      margin: 0 16px;

      &:hover {
        color: $orange;
      }

      &:active {
        color: $orange-lite;
      }
    }
  }

  .copyright {
    font-size: 0.9rem;
  }
}
