@import 'src/styles/Colors.scss';

.textLink {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $orange;
  }

  &:active {
    color: $orange-lite;
  }

  .externalIcon {
    margin-left: 4px;
    margin-bottom: 3px;
    width: 11px;
    height: 11px;
  }
}
